.row-heading {
  font-weight: 500;
  font-size: .7em;
  text-transform: uppercase
}
.timetable .time-label {
  font-size: .6em;
  font-weight: 500
}

.timetable ul {
  background: white;
  color: black;
}
.timetable .time-entry.vip-only {
  background-color: #C490F5;
  border: 1px solid #6A16B8
}
.timetable .time-entry.vip-only:hover {
  background-color: #AE67F0
}

.timetable .time-entry {
  background-color: #007cbb;
  border: 1px solid #007cbb
}
.timetable .time-entry:hover {
  background-color: #007cbb;
}

